# CREATE DATABASE AND CREATE TABLE

## creation de la table fruits

In [ ]:
CREATE TABLE fruits(
  fruit_id serial PRIMARY KEY,
  fruit_name VARCHAR(50) not NULL,
  fruit_code VARCHAR(10) NOT NULL
 );

## insertion des valeurs

In [ ]:
INSERT INTO fruits(fruit_name,fruit_code)
 VALUES
 ('Apple','AP01'),
 ('Banana','BA01'),
 ('Orange','OR01');