# CREATE DATABASE AND CREATE TABLE

## Creation de la table fruits

In [ ]:
CREATE TABLE fruits(
  fruit_id serial PRIMARY KEY,
  fruit_name VARCHAR(50) not NULL,
  fruit_code VARCHAR(10) NOT NULL
 );

## insertion des valeurs

In [ ]:
INSERT INTO fruits(fruit_name,fruit_code)
 VALUES
 ('Apple','AP01'),
 ('Banana','BA01'),
 ('Orange','OR01');

# Question 1

In [ ]:
SELECT * FROM fruits

In [ ]:
CREATE TABLE IF NOT  EXISTS fruits(
  fruit_id serial PRIMARY KEY,
  fruit_name VARCHAR(50) not NULL,
  fruit_code VARCHAR(10) NOT NULL
 );

# Question 2 
    Hands-on Creating Tables from Tables

In [ ]:
CREATE TABLE tiger_team_players
AS(
  SELECT * 
  FROM players01
  WHERE team = 'Tiger Team'
 );

# Question 3 

    Dropping Data Base(DB) and Table

In [ ]:
 SELECT *
 from tiger_team_players

# Hands-on Dropping Tables

In [ ]:
DROP TABLE demo;

# Alter Tables : is change structure by modify tables
    - ADD  a Column
    - Rename a Column
    - Modify a Column
    - Delete a Column
    - Rename a table

- ADD  a Column

In [ ]:
Alter table table_name
ADD column_name datatype;

- Rename a Column

In [ ]:
Alter table table_name
Rename Column old_name to new_name;

- Modify a Column

In [ ]:
Alter table table_name
Alter column column_name datatype;

- Delete a Column

In [ ]:
Alter table table_name
Drop column column_name;

# Hands-on Alter table by examples

In [ ]:
ALTER TABLE players01
ADD player_number INT;

In [ ]:
ALTER TABLE players01
drop COLUMN player_number;

In [ ]:
ALTER TABLE players01
RENAME column team To team_name;

In [ ]:
ALTER table players01
ALTER COLUMN team_name TYPE TEXT;

In [ ]:
ALTER TABLE players01 
DROP COLUMN rating;

In [ ]:
ALTER TABLE players01
RENAME to players;